* {
	margin: 0;
	padding: 0;
}

body, html {

  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

#btnSlide {

  margin: 10px;

}

/* FOrmulario de mensaje */
.textarea1 {

  resize: none;
}


/* Reproductor */

.radio {

  padding: 5px;
}

#play {

  padding-top: 10px;
}

/* Menu Slide */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtnn {
   display: flex;
   justify-content: flex-end;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ================== END OF MENU SLIDE ============================= */



/* parallax */

.parallax {

  background: url('../img/nightking.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Title */

.cha {

  text-align: center;
  letter-spacing: 5px;
  font-family: 'Comic Sans MS', sans-serif
}

/* Animaciones delay */

.retraso{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.retraso2{
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.retraso3{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
.retraso4{
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	background-color: #f5f5f5;
	
}

figcaption {

  font-style: italic;
   color: #468284;
}

p {

  font-size: 17px;
}

/* Header 2 */

.header2 {

  padding: 20px;
  margin: 20px;
  text-align: center;
}

/* menunav */

#menu1 {

  opacity: 0.7;
}

.logo {

  width: 200px;
  padding: 5px;
}

 @media screen and (max-width: 480px) {
    
    .denlepabajo {

      width: 300px;
    }
}
