* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5;
}

/* MenuNav y Header */

#menu1 {
	opacity: 0.7;
}

header {
	
	background: url('../img/mainmap.png');
	min-height: 500px;
	background-size: 100%;
	background-position: center;
	transition: 0.3s;

}

 header:hover {

	filter: saturate(180%);
}

/* casas */

.casas {

	text-align: center;
	margin: 20px;

}

.retraso{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.retraso2{
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.retraso3{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.retraso4{
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.retraso5{
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}

.retraso6{
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.retraso7{
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s;
}

.retraso8{
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}

/* Houses */ 

.title p:hover {

	color: black;
	font-size: 15px;
}

.house p {

	color: #737373;
	font-size: 17px;
	
}

.house img{
	
	margin: 10px;
	padding: 10px;

}


.house img {
	
	border-radius: 5px;
	
	transition: 0.3s;
}

.house img:hover {
	opacity: 0.9;
border-radius:30%;
-webkit-border-radius:30%;
box-shadow: 0px 0px 10px 10px #bebebe;
-webkit-box-shadow: 0px 0px 10px 10px #bebebe;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);

}

/* Map */

.map {

	text-align: center;
	padding: 10px;
	margin: 10px;
}

.map img {
	
	transition: 0.5s;
	overflow: hidden;
	border-radius: 5px;
	
	
}

.map img:hover {
	
	opacity: 0.7;
}


/* Footer */

#copyright {

	background-color: gray;
	height: 70px;
	text-align: center;
	padding: 30px 0 40px;
	font-weight: bold;
}
